@mixin senter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container {
  max-width: 1290px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin logoWhite {
  background-image: $logoWhiteSvg;
}

@mixin logoBlack {
  background-image: $logoBlackSvg;
}

@mixin media($size) {
  @media(max-width: #{$size}px){
    @content;
  }
}
