@import "./Styles/variables";
@import "./Styles/mixins";
@import "./Styles/fonts";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Exo 2', sans-serif;
}

.container{
  @include container;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo::after{
  content: "";
  @include logoWhite;
  display: block; 
  width: 102px;
  height: 18px;
  fill: #000;
}

.logo.active::after{
  @include logoBlack;
}

.line{
  opacity: 0.8;
  background: #FFF;
  width: 100%;
  height: 1px;
}

.header{
  position: sticky;
  width: 100%;
  z-index: 5;
  
  &.active{
    position: fixed;
  }
  
  &__nav{
    background: rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(1px);  
  }
  
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  &__list{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
  }
  
  &__list_jcsb{
    justify-content: space-between;
  }
  
  &__bottom{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  &__link{
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }
  .lang{
    color: #DBDBDB;
    cursor: pointer;
    
    &.active{
      color: #fff;
    }
  }
  
  .verical-line{
    margin-left: 8px;
    margin-right: 8px;
  }
}

.home-swiper{
  width: 100%;
  height: 100vh;
  
  
  & .swiper-slide{
    height: 100%;
    display: flex;
    position: relative;
    
    &::after{
      content: "";
      background: rgba(0, 0, 0, 0.20);
      width: 100%;
      height: 100%;
      position: absolute;
      
    }
  }
  
  &__image{
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  &__content{
    flex-grow: 1;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 5;
  }
  
  &__text{
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    width: 593px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 60px;
    @include container;
    text-align: right;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    gap: 25px;
  }
  
  .swiper-pagination-bullet{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    opacity: 1;
    background: transparent;
  }
  
  .swiper-pagination-bullet-active{
    background: white;
  }
}

.btn-pills{
  border-radius: 45px;
  background: #28C79E;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 124%; /* 19.84px */
  width: 163px;
  height: 48px;
  @include senter;
  text-decoration: none;
  
}

.home-about{
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 60px;
  
  &__img{
    width: 445px;
  }
  
  &__title{
    color: #1B2330;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
  }
  
  &__text{
    color: #1B2330;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 23.8px */
    margin-bottom: 30px;
    max-width: 689px;
    width: 100%;
  }
}

.home-statistics{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  
  &__block{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  &__info{
    display: flex;
    gap: 5px;
    align-items: center;
    color: #1B2330;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    span{
      color: #1B2330;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  
  &__text{
    color: #8B8B8B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  &__item{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.mu{
  &::after{
    content: "";
    width: 40px;
    height: 40px;
    display: flex;
  }
  
  &-location::after{
    background-image: $location;
  }
  &-map::after{
    background-image: $map;
  }
  &-water::after{
    background-image: $water;
  }
  &-person::after{
    background-image: $person;
  }
}

.home-aim{
  margin-top: 60px;
  
  &__left{
    max-width: 389px;
    width: 100%;
  }
  
  &__title{
    color: #1B2330;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 30px;
    
    span{
      color: #28C79E;
    }
  }
  
  &__text{
    color: #1B2330;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 23.8px */
  }
}