@import "./Styles/variables";
@import "./Styles/mixins";
@import "./Styles/fonts";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Exo 2', sans-serif;
}

.container{
  @include container;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
  height: max-content;
}

.logo::after{
  content: "";
  @include logoWhite;
  display: block; 
  width: 102px;
  height: 18px;
  fill: #000;
}

.logo.active::after{
  @include logoBlack;
}

.line{
  opacity: 0.8;
  background: #ECECEC;
  width: 100%;
  height: 1px;
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  
  &__nav{
    background: rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(1px);  
    transition: 0.3s linear;
  }
  
  &.active &__nav{
    background: white;
  }
  
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  &__list{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
  }
  
  &__list_jcsb{
    justify-content: space-between;
  }
  
  &__bottom{
    padding-top: 20px;
    padding-bottom: 20px;
  }  
  
  &__link{
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: 0.3s linear;
  }
  
  &.active &__link{
    color: #1B2330;
  }
  
  .lang{
    color: #DBDBDB;
    cursor: pointer;
    transition: 0.3s linear;
    
    &.active{
      color: #fff;
    }
  }
  
  &.active .lang{
    color: #989CA2;
    
    &.active{
      color: #1B2330;
    }
  }
  
  .verical-line{
    margin-left: 8px;
    margin-right: 8px;
  }
}

.home-swiper{
  width: 100%;
  height: 100vh;
  
  
  & .swiper-slide{
    height: 100%;
    display: flex;
    position: relative;
    
    &::after{
      content: "";
      background: rgba(0, 0, 0, 0.20);
      width: 100%;
      height: 100%;
      position: absolute;
      
    }
  }
  
  &__image{
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  &__content{
    flex-grow: 1;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 5;
  }
  
  &__text{
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    width: 593px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 60px;
    @include container;
    text-align: right;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    gap: 25px;
  }
  
  .swiper-pagination-bullet{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    opacity: 1;
    background: transparent;
  }
  
  .swiper-pagination-bullet-active{
    background: white;
  }
}

.btn-pills{
  border-radius: 45px;
  background: #28C79E;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 124%; /* 19.84px */
  width: 163px;
  height: 48px;
  @include senter;
  text-decoration: none;
  
}

.title{
  color: #1B2330;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
  margin-top: 5px;
  
  span{
    color: #28C79E;
  }
}

.home-about{
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 60px;
  
  &__img{
    width: 445px;
  }
  
  &__text{
    color: #1B2330;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 23.8px */
    margin-bottom: 30px;
    max-width: 689px;
    width: 100%;
  }
}

.home-statistics{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  
  &__block{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  &__info{
    display: flex;
    gap: 5px;
    align-items: center;
    color: #1B2330;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    span{
      color: #1B2330;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  
  &__text{
    color: #8B8B8B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  &__item{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.mu{
  &::after{
    content: "";
    width: 40px;
    height: 40px;
    display: flex;
  }
  
  &-location::after{
    background-image: $location;
  }
  &-map::after{
    background-image: $map;
  }
  &-water::after{
    background-image: $water;
  }
  &-person::after{
    background-image: $person;
  }
  
  &-telegram::after{
    background-image: $telegram;
    width: 24px;
    height: 24px;
  }
  
  &-instagram::after{
    background-image: $instagram;
    width: 24px;
    height: 24px;
  }
  
  &-facebook::after{
    background-image: $facebook;
    width: 24px;
    height: 24px;
  }
}

.home-aim{
  display: flex;
  gap: 64px;
  margin-top: 60px;
  
  &__left{
    max-width: 389px;
    width: 100%;
  }
  
  &__title{
    color: #1B2330;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 30px;
    
    span{
      color: #28C79E;
    }
  }
  
  &__text{
    color: #1B2330;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 23.8px */
  }
  
  &__right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 5px;
  }
  
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
        
    &-content{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 60px;
      border-bottom: 1.5px solid #D9D9D9;
      flex-shrink: 0;

    }
  }
  
  &__index{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 138%; /* 27.6px */
  }
  
  &__text{
    color: #1B2330;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 138%; /* 24.84px */
    max-width: 512px;
    width: 100%;
  }
  
  &__img{
    width: 110px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}

.home-partner {
  margin-top: 60px;
  min-height: 784px;
  max-height: 784px;
  position: relative;
  
  &::after{
    content: "";
    width: 49%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.00) 100%);
    height: 100%;
    position: absolute;
    top: 0;
  }
    
  @include media(1440){
    height: 584px;
  }
  
  &>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }
  
  &__content{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  
  &__info{
    max-width: 536px;
    width: 100%;
    z-index: 1;
  }
  
  &__title{
    color: #FFF;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  &__line{
    height: 2px;
    width: 72%;
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  &__text{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.home-history{
  margin-top: 60px;
  
  &__content{
    overflow: hidden;
  }
  
  &-swiper{
    overflow: visible !important;
    position: relative;
    
    &__block{
      display: flex;
      gap: 120px;
    }
    
    &__content{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
    &__title{
      color: #1B2330;
      font-size: 45px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    
    &__text{
      color: #1B2330;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 23.8px */
    }
    
    .swiper-button-prev, .swiper-button-next{
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 2px solid #E7E5EA;
      top: -60px;
    }
    
    .swiper-button-prev{
      left: 90% !important;
    }
        
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
      content: "";
      background-image: $swiperNext;
      display: flex;
      width: 20px;
      height: 20px;
    }
    
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
      content: "";
      background-image: $swiperPrev;
      display: flex;
      width: 20px;
      height: 20px;
    }
    
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
      position: unset;
      display: flex;
      justify-content: flex-end;
      gap: 30px;
    }
    
    .swiper-pagination-bullet{
      width: max-content;
      height: max-content;
      background: transparent;
      color: rgba(27, 35, 48, 0.50);
      font-size: 45px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      opacity: 1;
    }
    
    .swiper-pagination-bullet-active{
      color: #28C79E;
    }
    
  }
}

.footer{
  margin-top: 60px;
  background: #1B2330;
  min-height: 393px;
  padding-top: 60px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &__content {
    display: flex;
    justify-content: space-between;
  }
  
  &__left{
    display: flex;
    gap: 80px;
  }
  
  &__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  &__link{
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  &__right{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  &__text{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  &__social{
    display: flex;
    gap: 20px;
  }
  
  .dev-company{
    
    
    &__logo::after{
      content: "";
      width: 108px;
      height: 30px;
      background-image: $devCompanyLogo;
      display: flex;
    }
    
    &__content{
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
    }
    
    &__list{
      list-style: none;
      display: flex;
      gap: 20px;
    }
    
    &__link{
      color: #FFF;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration: none;
    }
  }
}